<form (ngSubmit)= "submit(crateFormData)"> 
    <label for="crateName">Name</label>
    <span class="GroupItem"><input type ="text" name="crateName" [(ngModel)] ="crateFormData.crateName" /></span>

    <label for="crateSize">Size</label>
    <span class="GroupItem"><input type ="number" name="crateSize" [(ngModel)] ="crateFormData.crateSize" /></span>

    <label for="warehouseId">Warehouse ID</label>
    <span class="GroupItem"><input type ="number" name="warehouseId" [(ngModel)] ="crateFormData.warehouseId" /></span>

    <input type ="submit" name="submit" />

</form>

<table class="table center">
    <thead>
        <tr>
            <th scope="col">Crate ID</th> 
            <th scope="col">Name</th> 
            <th scope="col">Size</th> 
            <th scope="col">Warehouse ID</th> 
        </tr>
    </thead>
    <tbody>
    <!-- * structural directive does DOM manipulation-->
    <tr scope="row" *ngFor="let crate of crates">
        <td>{{crate.crateId}}</td>
        <td>{{crate.crateName}}</td>
        <td>{{crate.crateSize}}</td>
        <td>{{crate.warehouseId}}</td>
        <span class="GroupItem"><button type="button" class="btn btn-dark" (click)="editValues(crate)"> Edit </button></span>
        <span class="GroupItem"><button type="button" class="btn btn-dark" (click)="delete(crate.crateId)"> Delete </button></span>
    </tr>
</tbody>
</table>

<div *ngIf="isEditing">
    <form style="display:inline-block" (ngSubmit)= "edit(crateEditFormData)"> 
        <label for="crateSize"><b>IdCrate</b></label>
        <span class="GroupItem">{{crateEditFormData.crateId}}</span>

        <label for="crateName"><b>Name</b></label>
        <span class="GroupItem"><input class="editGroupItem" type ="text" name="crateName" [(ngModel)] ="crateEditFormData.crateName" /></span>

        <label for="crateSize"><b>Size</b></label>
        <span class="GroupItem"><input class="editGroupItem" class="editGroupItem" type ="number" name="crateSize" [(ngModel)] ="crateEditFormData.crateSize" /></span>

        <label for="idWarehoues" ><b>Warehouse ID</b></label>
        <span class="GroupItem"><input class="editGroupItem" type ="number" name="warehouseId" [(ngModel)] ="crateEditFormData.warehouseId" /></span>

        <span class="GroupItem"><input type ="submit" name="submit" value="Edit"/></span>
    </form>
    <button type="button" class="btn btn-dark" (click)="cancelEdit()">Cancel</button>
</div>